Repository LuXDAmore/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint-fix, yarn stylelint-fix-css, yarn stylelint-fix-scss

chore: fixed repositories
  apps/developer/package.json
  apps/photography/package.json
  package.json
  packages/optimizer/package.json
  packages/prova/package.json
  packages/stylesheets/package.json
Due: none

fix: rename
  .github/FUNDING.yml
  apps/photography/nuxt.config.js
Due: yarn eslint-fix

chore: latest rename
  .cspell/custom-dictionary.txt
  README.md
  packages/optimizer/README.md
  packages/stylesheets/README.md
  packages/stylesheets/src/abstracts/_mixins.scss
Due: yarn stylelint-fix-scss

chore: initial commit
  .vscode/extensions.json
  apps/photography/certificates/server.cert.pem
  apps/photography/certificates/server.key.pem
  apps/photography/nuxt.config.js
  apps/photography/package.json
  pnpm-lock.yaml
Due: yarn eslint-fix

feat: added wp-nuxt
  .cspell/custom-dictionary.txt
  .gitignore
  README.md
  apps/photography/nuxt.config.js
  apps/photography/package.json
  pnpm-lock.yaml
Due: yarn eslint-fix

fix: queries
  .gitignore
  .vscode/extensions.json
  apps/developer/package.json
  apps/photography/app/.queries/GeneralSettings.gql
  apps/photography/app/.queries/Menu.gql
  apps/photography/app/.queries/Node.gql
  apps/photography/app/.queries/Pages.gql
  apps/photography/app/.queries/Posts.gql
  apps/photography/app/.queries/Revisions.gql
  apps/photography/app/.queries/Viewer.gql
  apps/photography/app/.queries/fragments/ContentNode.fragment.gql
  apps/photography/app/.queries/fragments/GeneralSettings.fragment.gql
  apps/photography/app/.queries/fragments/MediaItem.fragment.gql
  apps/photography/app/.queries/fragments/MenuItem.fragment.gql
  apps/photography/app/.queries/fragments/NodeWithContentEditor.fragment.gql
  apps/photography/app/.queries/fragments/NodeWithExcerpt.fragment.gql
  apps/photography/app/.queries/fragments/NodeWithFeaturedImage.fragment.gql
  apps/photography/app/.queries/fragments/NodeWithFeaturedImageToMediaItemConnectionEdge.fragment.gql
  apps/photography/app/.queries/fragments/Page.fragment.gql
  apps/photography/app/.queries/fragments/Post.fragment.gql
  apps/photography/app/extend/exhibitions.gql
  apps/photography/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix: gitignore
  .gitignore
Due: none

chore(deps): updated dev deps
  apps/photography/package.json
  pnpm-lock.yaml
Due: none

fix: gitignore
  .gitignore
  apps/photography/app/extend/exhibitions.gql
Due: none

chore: settings
  .vscode/settings.json
Due: none

docs: update README.md
  README.md
Due: none

Path conditions:
  yarn eslint-fix: any of: *.{vue,ts,js}
  yarn stylelint-fix-css: any of: *.css
  yarn stylelint-fix-scss: any of: *.scss
